@page "/plantilla-html/datos/{id:int?}"
<PageTitle>Plantilla HTML @Title</PageTitle>
@inject ItdHTMLService _service
@inject IApiUtil fn
@inject NavigationManager Navigation
@attribute [Authorize(Roles = "Admin")]
<h3>Plantilla HTML @Title</h3>

@if (DataActual is not null)
{
    <PlantillaHtmlForm 
       DataActual="DataActual" 
        OnValidSubmit="HandleValidSubmit" 
        OnCancel="Cancelar" 
        isEditing="@(id != null)" />
}
else
{
    <p>Cargando...</p>
}
<div class="container mt-5">
        @if (!string.IsNullOrEmpty(MensajeError))
    {
        <div class="alert alert-danger mt-3">
            <p>@MensajeError</p>
            </div>
        
    }
</div>

@code {
    [Parameter] public int? id { get; set; }

    private tdHTML? DataActual;
    public string MensajeError { get; set; } = string.Empty;
    public string Title { get; set; } = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        
        if (id == null)
        {
            DataActual = new tdHTML();
            Title = "Nuevo";

        }
        else
        {
            var response = await _service.FindByIdAsync(id.Value);
            DataActual = response.Data;
            Title = "Editar";

        }
    }



    private async Task HandleValidSubmit(tdHTML enty)
    {
        MensajeError = string.Empty;
       

        if (id == null)
        {
            var response = await _service.AddAsync(enty);
            if (response.Success)
            {
                Navigation.NavigateTo("/plantilla-html");
            }
            else
            {
                MensajeError = response.ErrorMessage;
            }
        }
        else
        {
            
            var response = await _service.UpdateAsync(id.Value, enty);
            if (response.Success)
            {
                Navigation.NavigateTo("/plantilla-html");
            }
            else
            {
                MensajeError = response.ErrorMessage;
            }
        }
    }

    private void Cancelar()
    {
        Navigation.NavigateTo("/plantilla-html",true);
    }
}
