@page "/categoryform"

<EditForm Model="Product" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="mb-3">
        <label for="productName" class="form-label">Product Name</label>
        <InputText id="productName" class="form-control" @bind-Value="Product.Name" />
    </div>

    <div class="mb-3">
        <label for="categorySelect" class="form-label">Category</label>
        <CategorySelect TValue="int" SelectedValue="Product.CategoryId" SelectedValueChanged="OnCategoryChanged" />
    </div>
    <p>Product.CategoryId: @Product.CategoryId</p>
    <button type="submit" class="btn btn-primary">Submit</button>
</EditForm>

@code {
    private Products Product { get; set; } = new Products();

    private async Task OnCategoryChanged(int newValue)
    {
        Product.CategoryId = newValue;
        await InvokeAsync(StateHasChanged);
    }

    private void HandleValidSubmit()
    {
        // Manejar el submit del formulario
        Console.WriteLine($"Product Name: {Product.Name}, Category ID: {Product.CategoryId}");
    }

    private class Products
    {
        public string Name { get; set; }
        public int CategoryId { get; set; }
    }
}
